<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web App demoing a neural net to detect toxic language.">
    <meta name="author" content="@bendavidaaron">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Do you sound like a Jerk?</title>

    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
  </head>
  <body>
    <h1>
      Internet Jerk Detector
    </h1>
    <p>
      This is a simple webapp hosting a Neural Network based model to classify user-supplied comments as toxic or not. The neural net was designed and trained using the <a href="https://keras.io/"">Keras library</a> on top of Tensorflow. To improve predictions, and save training time, I also used Stanford's <a href="https://github.com/stanfordnlp/GloVe">GloVe word embeddings</a> trained on Wikipedia. The final model, while simplistic in it's architecture, has an out of sample accuracy of around 96% which is impressive for a toy project.
    </p>
    <h3>
      Go ahead and try to fool it!
    </h3>
    <p>If you can beat the model, let me know (<a href="https://twitter.com/BenDavidAaron">@BenDavidAaron</a>).</p>
    <p>If you think you can do better, start with <a href="https://github.com/BenDavidAaron/toxic-commentary">my source code</a>.</p>
    <form id="comment" method="post">
      <table>
        <tr>
          <td>
            <h4>Enter your comment here:</h4>
            <input type="submit" value="Submit">
          </td>
          <td>
            <h4>How toxic is it?</h4>
          </td>
        </tr>
        <tr>
          <td>
            <textarea name="comment" rows=20 cols="75">
{{comment}}
            </textarea>
          </td>
          <td>
            <h1>{{score}}</h1>
          </td>
        </tr>
      </table>
    </form>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
